@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@300&display=swap');

body{
    background-color: #F7F2FA;
}

.center{
    display: block;
    top: 20%;
    left: 50%;
    text-align: center;
}

.Title{
    color: black;
    font-family: 'Poppins',sans-serif;
}

